<!-- Renders posts -->
{{> post-info post }}

<!-- Renders post comment form when user is logged in to site -->
{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">add comment</button>
    </div>
</form>
{{/if}}

<!-- Renders post comments -->
{{> comments post.comments}}

<!-- Renders username and date they created the single post -->
<p>Created by {{username}} on {{format_date created_at}}</p>

{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}